.u-section-1 .u-sheet-1 {
  min-height: 255px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 37px auto 0 37px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: -48px auto 0 125px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 53px auto 0 36px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: -71px auto 0 125px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 14px auto 46px 125px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 79px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 79px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 79px;
  }
}