.u-section-1 .u-sheet-1 {
  min-height: 639px;
}

.u-section-1 .u-shape-1 {
  width: 1065px;
  height: 77px;
  margin: 23px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -64px auto 0 126px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -56px auto 0 47px;
}

.u-section-1 .u-text-2 {
  margin: 7px 38px 0 141px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -102px auto 0 40px;
}

.u-section-1 .u-text-4 {
  margin: 99px 38px 0 141px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -52px auto 0 40px;
}

.u-section-1 .u-text-6 {
  margin: 65px 40px 0 141px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: -77px auto 0 40px;
}

.u-section-1 .u-text-8 {
  margin: 92px auto 0 141px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: -77px auto 60px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 79px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 89px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 277px;
}

.u-section-2 .u-shape-1 {
  width: 1065px;
  height: 77px;
  margin: 17px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -64px auto 0 142px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -52px auto 0 48px;
}

.u-section-2 .u-text-2 {
  margin: 34px 38px 0 142px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -50px auto 0 38px;
}

.u-section-2 .u-text-4 {
  margin: 48px 38px 0 142px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: -50px auto 55px 38px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    width: 940px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 89px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 381px;
}

.u-section-3 .u-shape-1 {
  width: 1065px;
  height: 77px;
  margin: 17px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -62px auto 0 144px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -56px auto 0 49px;
}

.u-section-3 .u-text-2 {
  margin: 41px 35px 0 144px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: -50px auto 0 38px;
}

.u-section-3 .u-text-4 {
  margin: 56px 36px 0 143px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: -50px auto 0 37px;
}

.u-section-3 .u-text-6 {
  margin: 56px 37px 0 142px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: -50px auto 60px 37px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-shape-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-shape-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-left: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 711px;
}

.u-section-4 .u-shape-1 {
  width: 1065px;
  height: 77px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -62px auto 0 154px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -56px auto 0 60px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 36px auto 0 38px;
}

.u-section-4 .u-text-3 {
  margin: -25px 38px 0 146px;
}

.u-section-4 .u-text-4 {
  margin: 31px 44px 0 146px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: -75px auto 0 38px;
}

.u-section-4 .u-text-6 {
  margin: 80px 81px 0 146px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: -50px auto 0 38px;
}

.u-section-4 .u-text-8 {
  margin: 56px 81px 0 146px;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  margin: -50px auto 0 38px;
}

.u-section-4 .u-text-10 {
  margin: 56px 81px 0 146px;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  margin: -25px auto 0 38px;
}

.u-section-4 .u-text-12 {
  margin: 31px 81px 0 146px;
}

.u-section-4 .u-text-13 {
  font-weight: 700;
  margin: -25px auto 60px 38px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 27px;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    margin-left: 27px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
    margin-left: 27px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
    margin-left: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    width: 720px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 97px;
  }
}