.u-section-1 .u-sheet-1 {
  min-height: 1105px;
}

.u-section-1 .u-tabs-1 {
  min-height: 1026px;
  margin-top: 39px;
  margin-bottom: 60px;
}

.u-section-1 .u-tab-link-1 {
  background-image: none;
}

.u-section-1 .u-tab-link-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 60px 440px 0 30px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  width: 1080px;
  margin: 6px auto 0 30px;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 33px auto 0 30px;
}

.u-section-1 .u-line-2 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 29px auto 0 30px;
}

.u-section-1 .u-slider-1 {
  width: 1072px;
  min-height: 621px;
  margin: -44px auto 0 19px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-image-1 {
  width: 718px;
  height: 381px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 36px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  width: 491px;
  height: 526px;
  margin: 52px auto 0 80px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5625rem;
  background-image: none;
  margin: -350px 41px 0 614px;
}

.u-section-1 .u-carousel-item-3 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-image-3 {
  width: 468px;
  height: 530px;
  margin: 20px auto 0 23px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5625rem;
  margin: -349px 60px 0 518px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 50px;
}

.u-section-1 .u-image-4 {
  width: 412px;
  height: 610px;
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: -408px 33px 0 486px;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5625rem;
  margin: 31px 18px 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 30px auto 0 231px;
}

.u-section-1 .u-text-9 {
  font-size: 2.1875rem;
  margin: -53px auto 0 335px;
}

.u-section-1 .u-slider-2 {
  min-height: 710px;
  margin: 17px 0 0;
}

.u-section-1 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-5 {
  margin: 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-1 .u-text-10 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5625rem;
}

.u-section-1 .u-image-5 {
  width: 784px;
  height: 442px;
  margin: 63px auto 0 84px;
}

.u-section-1 .u-carousel-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 52px;
}

.u-section-1 .u-image-6 {
  width: 815px;
  height: 459px;
  margin: 41px auto 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.5625rem;
  margin: 41px 8px 0;
}

.u-section-1 .u-carousel-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 60px;
}

.u-section-1 .u-image-7 {
  width: 865px;
  height: 487px;
  margin: 34px 60px 0 35px;
}

.u-section-1 .u-text-12 {
  font-size: 1.5625rem;
  margin: 41px 0 0;
}

.u-section-1 .u-carousel-item-8 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 50px;
}

.u-section-1 .u-image-8 {
  width: 490px;
  height: 498px;
  margin: 38px auto 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.875rem;
  margin: 30px auto 0;
}

.u-section-1 .u-carousel-control-3 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-4 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 30px;
}

.u-section-1 .u-video-1 {
  width: 924px;
  height: 520px;
  margin: 78px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  margin: 30px 66px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 30px;
  }

  .u-section-1 .u-line-1 {
    width: 940px;
  }

  .u-section-1 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-slider-1 {
    width: 940px;
    height: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 382px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 454px;
  }

  .u-section-1 .u-image-3 {
    height: 529px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -348px;
    margin-right: 0;
    margin-left: 378px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 319px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 39px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -16px;
    margin-left: 273px;
  }

  .u-section-1 .u-slider-2 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    margin-left: 56px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    width: 820px;
    height: 462px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-video-1 {
    width: 880px;
    height: 495px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-slider-1 {
    width: 720px;
    min-height: 590px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 660px;
    height: 351px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 234px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 158px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 139px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 173px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -86px;
    margin-left: 205px;
  }

  .u-section-1 .u-slider-2 {
    min-height: 640px;
    margin-top: 139px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-5 {
    width: 660px;
    height: 372px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-6 {
    width: 660px;
    height: 372px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-7 {
    width: 660px;
    height: 372px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-video-1 {
    width: 660px;
    height: 371px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-slider-1 {
    width: 540px;
    min-height: 516px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 277px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 49px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 54px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -3px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -31px;
    margin-left: 162px;
  }

  .u-section-1 .u-slider-2 {
    min-height: 653px;
    margin-top: 84px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    width: 520px;
    height: 293px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    width: 520px;
    height: 293px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    width: 520px;
    height: 293px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-video-1 {
    width: 520px;
    height: 292px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 354px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 170px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 364px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -188px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 384px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: -203px;
  }

  .u-section-1 .u-image-4 {
    width: 320px;
    height: 474px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -272px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -171px;
    margin-left: 106px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 40px;
    margin-left: 100px;
  }

  .u-section-1 .u-slider-2 {
    min-height: 556px;
    margin-top: 181px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    width: 320px;
    height: 180px;
  }

  .u-section-1 .u-image-6 {
    width: 320px;
    height: 180px;
  }

  .u-section-1 .u-image-7 {
    width: 320px;
    height: 180px;
  }

  .u-section-1 .u-image-8 {
    width: 320px;
    height: 325px;
  }

  .u-section-1 .u-video-1 {
    width: 320px;
    height: 180px;
  }
}