.u-section-1 .u-sheet-1 {
  min-height: 336px;
}

.u-section-1 .u-text-1 {
  font-size: 2.1875rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 440px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 492px;
  height: 293px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-image-1 {
    width: 410px;
    height: 244px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 179px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 239px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 509px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 489px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 82px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 489px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 489px;
  left: auto;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 403px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 403px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 464px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 292px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 455px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-image-1 {
  width: 571px;
  height: 300px;
  margin: 40px auto 0 12px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-4 .u-image-1 {
    width: 470px;
    height: 230px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-4 .u-image-1 {
    width: 360px;
    height: 176px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 179px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 460px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
  position: relative;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 20px 24px 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 389px;
  height: 389px;
  margin: 0 19px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-5 .u-image-1 {
    width: 360px;
    height: 360px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 239px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 107px;
}

.u-section-6 .u-shape-1 {
  height: 107px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-image-1 {
  width: 570px;
  height: 89px;
  margin: -98px auto 9px;
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 102px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 84px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 71px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 53px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 378px;
}

.u-section-7 .u-text-1 {
  font-size: 2.1875rem;
  font-weight: 700;
  margin: 50px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 28px 44px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 559px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 478px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-8 .u-image-1 {
  width: 642px;
  height: 452px;
  margin: 42px -15px -24px auto;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 535px;
}

.u-section-8 .u-container-layout-2 {
  padding: 8px 30px;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 394px;
  }

  .u-section-8 .u-image-1 {
    width: 517px;
    height: 364px;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 441px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 302px;
  }

  .u-section-8 .u-image-1 {
    width: 396px;
    height: 279px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 259px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 240px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 645px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 13px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 572px;
}

.u-section-9 .u-container-layout-1 {
  padding: 22px 14px;
}

.u-section-9 .u-text-1 {
  margin: 38px 0 0;
}

.u-section-9 .u-image-1 {
  width: 349px;
  height: 82px;
  margin: 38px auto 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 572px;
}

.u-section-9 .u-container-layout-2 {
  padding: 0;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-9 .u-image-2 {
  width: 625px;
  height: 159px;
  margin: 0 10px 0 auto;
}

.u-section-9 .u-image-3 {
  width: 626px;
  height: 159px;
  margin: 3px 10px 0 auto;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  margin: 8px auto 0 284px;
}

.u-section-9 .u-image-4 {
  width: 626px;
  height: 159px;
  margin: 0 10px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-9 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-9 .u-image-2 {
    width: 548px;
    height: 139px;
    margin-right: 0;
  }

  .u-section-9 .u-image-3 {
    width: 548px;
    height: 139px;
    margin-right: 0;
  }

  .u-section-9 .u-text-3 {
    margin-left: 234px;
  }

  .u-section-9 .u-image-4 {
    width: 548px;
    height: 139px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-image-1 {
    width: 272px;
    height: 64px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-image-2 {
    width: 420px;
    height: 107px;
  }

  .u-section-9 .u-image-3 {
    width: 420px;
    height: 107px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 179px;
  }

  .u-section-9 .u-image-4 {
    width: 420px;
    height: 107px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-2 {
    width: 340px;
    height: 87px;
  }

  .u-section-9 .u-image-3 {
    width: 340px;
    height: 87px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 113px;
  }

  .u-section-9 .u-image-4 {
    width: 340px;
    height: 87px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 400px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 8px;
}

.u-section-10 .u-image-1 {
  width: 539px;
  height: 228px;
  margin: 56px auto 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  margin-bottom: 0;
  margin-top: 45px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-10 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-10 .u-image-1 {
    width: 454px;
    height: 192px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-10 .u-image-1 {
    width: 344px;
    height: 145px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-10 .u-image-1 {
    width: 324px;
    height: 137px;
  }
}